*{
    width:1020px;
    font-family: "Lato", sens-serif;
    padding: 0px;
    margin: 0px;
}

header{
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
}

hr{
    background-color: #323746;
    border: none;
    height: 6px;
    width: 1020px;
} 

#logo {
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    line-height: 6px;
    font-weight: 700;
    height:20px;
    margin-left: 40px;
    margin-top: 34px;
    margin-bottom: 35px;
}

#logo span {
    color: #f06c64;
}

.header-nav {
    margin: 20px;
}

#nav {
    
    width: 1020px;
    text-align: center;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    overflow: hidden;
  }
#nav li { 
    float: right;
    list-style-type: none;
    
    }
    
#nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }

#nav a:hover {
    color: #f06c64;
  }



 

