*{
    width:1020px;
    font-family: "Lato", sens-serif;
    display:block;
    padding: 0px;
    margin: 0px;
}
header{
    width: 1020px;
    vertical-align: center;
    height: 89px;
    background-color: #2d303a;
    border-bottom-color: #323746;
}
