html{
    font-size: 10px;
}

body{
    font-size: 1.8rem;
    font-family: "Lato";
    font-weight: 300;
    margin: auto;
}

h2{
    font-size: 3rem;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

h3{
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;}

.wrapper {
        width: 1020px;
        margin: auto;
    }
.get-quote{
    letter-spacing: -0.1px;
    width: 1020px;
    top: 0px;
    height: 648px;
    background-color: #f06c64;
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;;
}


.get-quote_content{
    padding-top:43px;
    padding-left:40px;
    padding-right: 40px;
}

.get-quote__text{
    margin-top: 29px;
    line-height: 29px;
}

.get-quote_grid-container{

    display: grid;
    grid-template-columns: 619px 300px;
    grid-column-gap: 20px;
    text-align: justify;
    width: 300px;
    margin-top: 25px;

}
.get-quote__form{
    margin-top: 20px;
    margin-right: 10px;
    width:603px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;


}
textarea::-webkit-input-placeholder{
    color: #f0d8d9;
    letter-spacing: -0,5px;
    font-family: "Lato";
}

input::-webkit-input-placeholder{
    color: #f0d8d9;
    letter-spacing: -0.5px;
    font-family: "Lato";
}





.form-textarea{
    height: 186px;
    width: 600px;
    border: 2px solid #d6564f;
    border-radius: 5px;
    padding-left: 14px;
    padding-top: 7.8px;
    background-color: #d6564f;
    letter-spacing: -0.5px;
    color: #f0d8d9;
    outline: none;
}

.form_element{
    border: 2px solid #d6564f;
    outline: none;
    color: #f0d8d9;
    margin-bottom: 15px;
    padding-left: 14px;
    width: 600px;
    border-radius: 5px;
    height: 33px;
    background-color: #d6564f;

}

.form_element:focus{
    border: 2px solid darkred;
 }

.get-quote__form textarea:focus{

    border: 2px solid darkred;
}


.get-quote__button:hover{
    background-position: right center;
    cursor: pointer;
  }

.get-quote__button{
    color: darkred;
    width: 100px;
    border-radius: 5%;
    height: 37px;
    border:none;
    background-image: linear-gradient(to right,  #d6564f, 0%, #fcb69f 51%, #ffecd2 100%);
}
.contact{
    margin: 0px;
}
            .contact_title{
                font-size: 18px;
            line-height: 20px;
            color: #f0d8d9;
            font-family: "Lato";
            font-weight: 900;
            text-align: left;
            height: 11px;
            
            }

.contact_description{
    font-size: 12px;
    line-height: 22.25px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: justify;
    
 }


.icon_name_style{
margin: 0px;
font-size: 12px;
line-height: 21.8px;
font-family: "Lato";
font-weight: 400;
color: #f0d8d9;
text-align: left;
padding-left: 10px;
text-decoration: none;
}

.list_contact{
   
    padding-left: 0px;
    text-decoration: none;
    list-style: none;
    margin-top: 17px;
}

.list_contact li{
    margin-bottom: -2px;
}

.footer{
    top: 0px;
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    
}

.footer__wrapper{
    align-items: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
            .footer .social-media__icons{
                padding-right: 36.5px;
                padding-top: 23px;
            }


.footer__span{
    padding-top: 18px;
    padding-left: 40px;
    font-family: "Lato";
    font-size: 12px;
    color: #666d89;
       
}


.social-media__icons{ 
    display: inline;
    list-style: none;

}


.social-media__icons img{
    width:32px;
    height:32px;
    margin-right: 3.5px;
    border-radius: 16px;
}

.social-media__icons img:hover{
    border-radius: 16px;
    width:30px;
    background-color: #666d89;

}


