* {
    font-family: 'Lato', sans-serif;
    letter-spacing:normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    top: 0;
    position: absolute;
    background: #2d303a;
    width: 1020px;
    height: 95px;
    border-bottom: 6px solid #323746;
}
.header-nav {
    margin: 40px;
}

.logo {
    float: left;
    position: absolute;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 6px;
    text-transform: uppercase;
    color: white;
    /*letter-spacing:-0.7px;*/
    letter-spacing: -0.026em;
    margin-left: 40px;
    margin-top: 41.8px;
    margin-bottom: 35px;
      
}

.logo span {
    color: #f06c64;
}

.navigation {
    letter-spacing: -0.026em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 35px;
    margin-top: 47px;
}

.navigation li {
   
    display: inline;
    /*list-style-type: none;*/
    color: white;
    padding-left: 10px;
}

.list{
    color: darkslategrey;
}

.navigation li a {
    color: white;
    
    text-align: left;
    text-decoration: none;
}

.navigation li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#active-line {
    color: #f06c64;
}

.slider-block{
    margin-top:95px;
    width: 1020px;
    top: 0;
    background: #f06c64;
    height: 600px;
    border-bottom: 15px solid #ea676b;
}
.left-arrow{
   padding-left: 40px;
    margin-top: 281px;
    margin-bottom:292px;
    vertical-align: center;
   

}
.right-arrow{
   
    margin-top: 281px;
    margin-bottom:292px;
    margin-right: 40px;
    vertical-align: center;
}

.slider-block .right-arrow:hover, .slider-block .left-arrow:hover {
    cursor: pointer;
    filter: brightness(10);
}

.shadow-vert{
    box-shadow: 26px 26px 2px #cf5c55;
    
    
}
.shadow-horiz{
    box-shadow: 26px 26px 2px #cf5c55;
}
.vert-iphone{
    margin-top: 48px;
    margin-left: 51px;
    margin-right: 94px;
    border-radius: 27px;
    margin-bottom: 89px;
}
.horiz-iphone{
    margin-right: 77px;
    margin-top: 169.5px;
    margin-bottom:211px;
    border-radius: 27px;
}

.services-block{
    padding-left: 40px;
    padding-right: 40px;
    top: 695px;
    bottom:1196px;
    position: absolute;
    width: 1020px;
    height: 501px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    
}

.services-block h2{
    padding-right: 40px;
    padding-top: 69px;
    padding-bottom: 29px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    /*text-align: left;*/
}

.services-block p{
    letter-spacing: -0.0029em;
    height:57px;
    margin-top:-3px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;  
}

.services-container{
    letter-spacing: -0.1px ;
    padding-top: 50px;
    padding-bottom:40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-row-gap: 22.5px;
    grid-column-gap: 18px;
    text-align: justify;
}

.grid-item{
    
    display: grid;
    margin: 0 auto;
    grid-template-columns: 59px 220px;;
    grid-template-rows: 18px 50px;
    grid-row-gap: 9.8px;
    grid-column-gap: 20px;
    text-align: justify;
}

.grid-item img{
    width: 59px;
    height: 59px;
    border-radius: 29px;
}

.grid-item h3{
    letter-spacing: -0.1px; 
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    grid-auto-flow: row;
}

.grid-item p {
    letter-spacing: -0.08px;
    overflow : hidden;
    grid-column: 2;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin: 0px auto;
    text-align: justify;
    justify-content: center;
}










