* {
    font-family: 'Lato', sans-serif;
    letter-spacing:normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.8rem;
    font-family: "Lato";
    font-weight: 300;
    margin: auto;
}

h2{
    font-size: 3rem;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

h3{
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;}


header {
    top: 0;
    position: absolute;
    background: #2d303a;
    width: 1020px;
    height: 95px;
    border-bottom: 6px solid #323746;
}

.wrapper {
    width: 1020px;
    margin: auto;
}
.header-nav {
    margin: 40px;
}

.logo {
    float: left;
    position: absolute;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 6px;
    text-transform: uppercase;
    color: white;
    /*letter-spacing:-0.7px;*/
    letter-spacing: -0.026em;
    margin-left: 40px;
    margin-top: 41.8px;
    margin-bottom: 35px;
      
}

.logo span {
    color: #f06c64;
}

.navigation {
    letter-spacing: -0.026em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 35px;
    margin-top: 47px;
}

.navigation li {
   
    display: inline;
    /*list-style-type: none;*/
    color: white;
    padding-left: 10px;
}

.list{
    color: darkslategrey;
}

.navigation li a {
    color: white;
    text-align: left;
    text-decoration: none;
}

.navigation li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#active-line {
    color: #f06c64;
}

.slider-block{
    margin-top:95px;
    /*width: 1020px;*/
    margin-left: 0px;
    padding-left: 0px;
    top: 0;
    width: 1020px;
    background-color: #f06c64;
    height: 600px;
    border-bottom: 15px solid #ea676b;
}
.left-arrow{
    padding-left: 39.5px;
    margin-top: 281px;
    margin-bottom:292px;
    vertical-align: center;
}
.right-arrow{
    margin-top: 281px;
    margin-bottom:292px;
    margin-right: 38px;
    vertical-align: center;
}

.slider-block .right-arrow:hover, .slider-block .left-arrow:hover {
    cursor: pointer;
    filter: brightness(10);
}

.shadow-vert{
    box-shadow: 26px 26px 2px #cf5c55;
    
    
}
.shadow-horiz{
    box-shadow: 26px 26px 2px #cf5c55;
}
.vert-iphone{
    margin-top: 48px;
    margin-left: 51px;
    margin-right: 94px;
    border-radius: 27px;
    margin-bottom: 89px;
}
.horiz-iphone{
    margin-right: 77px;
    margin-top: 169.5px;
    margin-bottom:211px;
    border-radius: 27px;
}

.services-block{
    padding-left: 40px;
    padding-right: 40px;
    top: 695px;
    bottom:1195px;
    /*position: absolute;*/
    width: 1020px;
    height: 501px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;}
 
.services-block p{
    overflow: hidden;
    
}

.services-block h2{
    padding-right: 40px;
    padding-top: 69px;
    padding-bottom: 29px;
    color: #666d89;
    /*text-align: left;*/
}

.services-block p{
    letter-spacing: -0.0029em;
    height:57px;
    margin-top:-3px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;  
    text-overflow: clip;
}

.services-container{
    letter-spacing: -0.1px ;
    padding-top: 49px;
    padding-bottom:40px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 96px 96px;
    grid-row-gap: 27px;
    grid-column-gap: 20px;
    text-align: justify;
}

.grid-item{
    
    display: grid;
    margin: 0;
    grid-template-columns: 59px 220px;;
    grid-template-rows: 18px 50px;
    grid-row-gap: 9.8px;
    grid-column-gap: 20px;
    text-align: justify;
    overflow: hidden;
}

.grid-item img{
    width: 59px;
    height: 59px;
    border-radius: 29px;
}

.grid-item h3{
    letter-spacing: -0.1px; 
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    grid-auto-flow: row;
}

.grid-item p {
    letter-spacing: -0.08px;
    overflow : hidden;
    grid-column: 2;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin: 0px auto;
    text-align: justify;
    justify-content: center;
    
}

    
.portfolio{
    margin-top: -1px;
    width: 1020px;
    height: 869px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    color: #666d89;
}

.portfolio_content{
    padding-top:67px;
    padding-left:40px;
    padding-right: 40px;
}

.portfolio__text{
    text-align: justify;
    letter-spacing: -0.25px;
    padding-top: 32px;
    width: 840px;
    margin-bottom:13px;
    color: #767e9e;
    
}

.portfolio__buttons{
    margin-bottom: 19px;
    
}

.portfolio__buttons button{
    padding-top: 0px;
    border-radius: 5px;
    border: 1px solid #666d89;
    color: #767e9e;
    line-height: 22px;
    height: 22px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    padding-left: 4px;
    background-color: #2d303a;
}
.portfolio__buttons button:hover{
    cursor: pointer;
    background-color: #0f0f0f;;
}
.button_active{
    color:white;
}
.portfolio__buttons button:first-child{
    padding-left: 7.5px;
    margin-right: 6px;
    width: 29px;  
    color: white;  
}

.portfolio__buttons button:nth-child(2){
    letter-spacing: -0.1px;
    padding-left:7px;
    padding-right:2px;
    width: 78px;
    margin-right: 5px;
}

.portfolio__buttons button:nth-child(3){
    padding-left: 5px;
    letter-spacing: -0.2px;
    margin-right: 4.5px;
    width: 94px;
}

.portfolio__buttons button:nth-child(4){
    padding-left: 5px;
    width: 57px;
    letter-spacing: 0.6px;
}

.portfolio__grid-container{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    text-align: justify;
}
.portfolio__grid-container img:nth-child(n+13) {
    display: none;
 }
 .portfolio__grid-container img{
    width: 220px;
    height: 187px;
}

.about-us{
    /*position:absolute;*/
    /*top: 870px;*/
    width: 1020px;
    height: 734px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    margin-top: 0px;
    padding-left: 40px;
    padding-top: 67px;
    color: #666d89;
 }

.about-us__text{
    margin-top: 26.8px;
    width: 940px;
    height: 57px;
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.1px;
}

.about-us__grid-container{
    margin-top: 49px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 375px 32px;
    grid-row-gap: 35px;
    grid-column-gap: 19.6px;
    
    
}
.about-us__text_name{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 13px;
    letter-spacing: -0.17px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    height: 19px;
    margin-bottom: 9px;
    width:300px;
}
.about-us__grid-container img{
    width:300px;
    height:300px;
}
.about-us__description{
    width: 300px;
    height: 45px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.15px;
    text-align: justify;
    overflow: hidden;
}


.get-quote{
    letter-spacing: -0.1px;
    width: 1020px;
    top: 0px;
    height: 654.5px;
    background-color: #f06c64;
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;
    margin-top: -0.5px;
}

.get-quote_content{
    padding-top: 68.5px;
    padding-left:40px;
    padding-right: 40px;
}

.get-quote__text{
    margin-top: 29px;
    line-height: 29px;
    letter-spacing: -0.05px;
    text-align: justify;
}

.get-quote_grid-container{

    display: grid;
    grid-template-columns: 619px 300px;
    grid-column-gap: 20px;
    text-align: justify;
    width: 300px;
    margin-top: 43.5px;

}
.get-quote__form{
    /*margin-top: 20px;*/
    margin-right: 10px;
    width:603px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;


}
textarea::-webkit-input-placeholder{
    color: #f48c8f;
    letter-spacing: -0,5px;
    font-family: "Lato";
}

input::-webkit-input-placeholder{
    color: #f48c8f;
    letter-spacing: -0.5px;
    font-family: "Lato";
}

.form__textarea{
    height: 202px;
    width: 619px;
    border: 2px solid #d6564f;
    border-radius: 5px;
    padding-left: 14px;
    padding-top: 7.8px;
    background-color: #d6564f;
    letter-spacing: -0.5px;
    color: #f0d8d9;
    margin-bottom: 12px;
    outline: none;
    resize: none;
}

.form__element{
    border: 2px solid #d6564f;
    outline: none;
    color: #f0d8d9;
    margin-bottom: 16px;
    padding-left: 14px;
    width: 619px;
    border-radius: 5px;
    height: 38px;
    background-color: #d6564f;

}

.form__element:focus{
    border: 2px solid darkred;
 }

.get-quote__form textarea:focus{

    border: 2px solid darkred;
}


.get-quote__button:hover{
    background-position: right center;
    cursor: pointer;
  }

.get-quote__button{
    color: darkred;
    width: 100px;
    border-radius: 5%;
    height: 37px;
    border:none;
    background-image: linear-gradient(to right,  #d6564f, 0%, #fcb69f 51%, #ffecd2 100%);
}
.contact{
    margin: 0px;
}
.contact_title{
    font-size: 18px;
    line-height: 20px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    height: 11px;
}
            

.contact_description{
    margin-top: 18px;
    font-size: 12px;
    line-height: 21.9px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: justify;
        
 }


.icon_name_style{
    margin: 0px;
    font-size: 12px;
    line-height: 21.8px;
    font-family: "Lato";
    font-weight: 400;
    color: #f0d8d9;
    text-align: left;
    padding-left: 10px;
    text-decoration: none;
}

.list_contact{
   
    padding-left: 0px;
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
}

.list_contact li{
    margin-bottom: -2px;
}

.footer{
    top: 0px;
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    
}

.footer__wrapper{
    align-items: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .footer .social-media__icons{
    padding-right: 36.5px;
    padding-top: 23px;
}

.footer__span{
    padding-top: 16px;
    padding-left: 40px;
    font-family: "Lato";
    font-size: 12px;
    color: #666d89;
       
}

.social-media__icons{ 
    display: inline;
    list-style: none;

}

.social-media__icons img{
    width:32px;
    height:32px;
    margin-right: 3.5px;
    border-radius: 16px;
}

.social-media__icons img:hover{
    border-radius: 16px;
    width:30px;
    background-color:lightgrey;
}











